.clear {
    clear: both;
}

#textboxes {
    height: 620px;
    overflow-y: scroll;
}

#textboxes textbox {
    width: 100%;
}

#about-video {
    width: 620px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#about-video > #title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

#about-video #group {
    margin-top: 10px;
    margin-bottom: 10px;
}

#about-video #group > #duration {
    float: left;
    color: #555;
    font-size: 18px;
}

#about-video #group > #reward {
    float: right;
    color: #555;
    font-size: 18px;
}

#about-video #group > #reward > #amount {
    color: #72af34;
    font-weight: 900;
}

#about-video > #description {

}

#textboxes {
    width: 100%;
}

#cancel-transcription {
    width: 160;
    padding: 10px;
    outline: none;
    border: none;
    background-color: crimson;
    border: 1px solid #72af34;
    border-radius: 3px;
    margin-bottom: 30px;
}

#submit-transcription {
    width: 500px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #A2DC6B;
    border: 1px solid #72af34;
    border-radius: 3px;
    margin-bottom: 30px;
}

#submit-transcription:active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .3);
}
